* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  border: 0.3rem solid black;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row-reverse wrap;
}

.box {
  width: 10rem;
  height: 10rem;
}

.box1 {
  background-color: darkslateblue;
}
.box2 {
  background-color: goldenrod;
}
.box3 {
  background-color: maroon;
}
.box4 {
  background-color: gray;
}
.box5 {
  background-color: dimgray;
}
.box6 {
  background-color: darkcyan;
}
